@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

:root {
  --first-color: #ffffff;
  --font-semi: 600;
}

body {
  margin: 0;
  padding: 0;
  background: #000000;
  background-size: cover;
}

.box {
  border-radius: 15%;
  width: 500px;
  max-width: 90%;
  margin: auto;
  margin-top: 10vh;
  padding: 50px;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  background: url(https://giffiles.alphacoders.com/215/215738.gif);
  background-size: cover;
}

.box img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: 0.5s;
}

.box img:hover {
  transform: scale(0.8);
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  margin-top: 30px;
}

.box p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
}

ul.social-links {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

ul.social-links li {
  display: inline-block;
  margin: 6px;
}

ul.social-links li a {
  color: #ffffff;
  font-size: 30px;
  transition: all ease-in-out 250ms;
}

ul.social-links li a:hover {
  color: #1f263b;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
